*{
  box-sizing: border-box;
}

main{
  background: linear-gradient(to bottom, #FFFFFF , #A7E7AA);
    height: 100vh;
}

li {
  list-style: none;
}

body{
  text-align: center;
}

.btn-block{
  margin-bottom: 0.8em;
}