*{
  box-sizing: border-box;
}

main{
  background: linear-gradient(to bottom, #FFFFFF , #A7E7AA);
    height: 100vh;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
}

li {
  list-style: none;
}

body{
  text-align: center;
}
 .img-responsive{
  margin-top: 1em;
  margin-bottom: 1em;
 }
#btnStart{
  font-size: 20px;
}

.btn-block{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0.8em;
  color: purple;
}

.hide{
  display: none;
}

#result{
  font-family: 'Neucha', cursive;
}

#questions{
  
  font-weight: bolder;
}

.fa-check{
  color: #48B677;
}

.fa-times{
  color: #E75F5F;
}